@import '@components/common/palette/styles.scss';

.root {
  overflow: hidden;

  max-width: 543px;
}

.optionName {
  height: 36px;

  border-bottom: 1px solid;

  @include use-mcp-border-color('blue-stroke-and-border');

  p {
    overflow-x: hidden;

    width: calc(100% - 32px);
    margin: 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }
}

.noOptionMessage {
  display: flex;

  height: 36px;
  padding-left: 32px;

  border-bottom: 1px solid;

  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 18px;
  align-content: center;
  flex-wrap: wrap;

  @include use-mcp-border-color('blue-stroke-and-border');
}
